.firstp{
font-size: 40px;
margin: 40px 40px;
color: white;
height: 700px;
text-align: center;
background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('main\ image.jpeg')center/cover scroll no-repeat
}
div{
 
        color: white;
        background-color: violet;
        font-size: 25px;
        margin: 40px 40px;
text-align: center;
}
body{
    background-color: violet;
}
.fan{
font-size: 50px;

}
.arts{
    font-size: 40px;
    margin-left: 50px;
}
.Fun{
text-align: center;
font-size: 50px;

}
.main{
    font-size: 50px;
}
